<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Demo2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>helloServlett</servlet-name>
    <servlet-class>com.kondapur.demoapp.MyServlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlett</servlet-name>
    <url-pattern>/helloServlett</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleLogin</servlet-name>
    <servlet-class>com.kondapur.demoapp.RenderLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GConnect</servlet-name>
    <servlet-class>com.kondapur.demoapp.GConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GConnect</servlet-name>
    <url-pattern>/GConnect</url-pattern>
  </servlet-mapping>
</web-app>